*{
    margin: 0px;
    padding: 0px;
}body{
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
background-color:#eef3f8;
font-family: 'Source Sans 3', sans-serif;

}

header{
   background: linear-gradient( 90deg,#0f172a 0%, #1e293b 50%,#020617 100%);
    padding: 13px;
    display: flex;
    justify-content:space-between ;
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 500ms ease 100ms;
    position: sticky;
    top:0;
    
}header ul {
    display:flex;
    gap:15px;
    list-style-type: none;
    height:7vh;
    align-items: center;    



}header ul a{
    text-decoration: none;
    color:rgb(248, 242, 242);
    border-radius: 20px;
    padding:5px;
    position: relative;
    
}
.logo{
    color: aliceblue;
    font-size: 30px;
    
}.logo h1{
    font-size: 12px;
}
.Search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
    

   

}header input{
   
    border-radius: 20px;
    border: solid;
padding: 5px; 
text-align: center;  
transition:transform 500ms ease 0s;
 backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.15);
border-color: transparent;
}
header ul a:hover{
color:rgb(68, 23, 213) ;
    transform: scale(1.1);

}header ul li:hover{
        transform: scale(1.1);}


.layout{
    display: flex;
    height:90vh;
    flex-direction: row-reverse;
}
main{
   display: flex;
 justify-content: center;
 align-items: center;
 flex:7;

}main h1{
margin: 30px;
}main form{
    display: flex ;
    flex-direction: column;
    justify-content: center;
   
}main input{
   border:none;
   border-bottom: 2px solid;
padding: 5px; 
background-color: transparent;
margin: 15px;   
background-color: transparent;
}
main button{
margin: 5px;
padding: 15px;
    background-color: transparent;
    border-radius: 20px;
    
transition: transform 500ms ease 0ms;

}main a{
text-decoration: none;
color:black;


}
main button:hover{
    border-color: rgb(68, 23, 213);
    transform:scale(1.1) ;
    
}main a:hover{
    color:rgb(68, 23, 213);
    
}aside{
    display: flex;
    flex:4;
}